body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

svg {
  transition: all 0.5s ease !important;
  transition: font-size .4s ease-in-out;
  font-weight: 200;
    
}
svg:hover {
  color: green;
}

div[move-mode=true] > .card:hover {
  border-bottom-style: groove;
  border-bottom-width: 1px;
  border-color: rgb(112, 112, 112);
  margin-bottom: 18px;
  transition: all 0.1s ease !important;
}