body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: rgba(0,0,0,.01);
}

button {
 display:inline-block;
 padding:0.35em 1.2em;
 border:0.1em groove;
 margin:0 0.3em 0.3em 0;
 border-radius:0.12em;
 box-sizing: border-box;
 text-decoration:none;
 font-weight:400;
 color: black;
 text-align:center;
 margin: 5px 0px;
 transition: all 0.3s;
 background-color: white;

}

input {
  text-align: center;
  padding: 5px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

svg {
  transition: all 0.5s ease !important;
  transition: font-size .4s ease-in-out;
  font-weight: 200;
    
}
svg:hover {
  color: green;
}

.board {
  animation: slide-board-up 0.7s ease;
  -moz-box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
  -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
  box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
  transition: all 0.4s ease;
}

.board > .card {
  animation: appear 1s ease;
}

.board > .add-card-field {
  animation: appear 1s ease;
}

.board[move-mode=true] > .card:hover {
  border-bottom-style: groove;
  border-bottom-width: 1px;
  border-color: rgb(112, 112, 112);
  transition: all 0.1s ease;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slide-board-up {
  0% {
      transform: translateY(400px);
  }
  100% {
      transform: translateY(0);
  }
}

@keyframes slide-card-down {
  0% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}